# Operations in python

## 6 types of operations in python
1. arithematic operators
2. assingment operators
3. comparision operators
4. logical operators
5. membership operators
6. identity operators

In [4]:
# arthemetic operators --- +,-,*,/,//,%
a=10
b=20
c=20
d=30
print(a+b)
print(b-c)
print(b*d)
print(d/a)
print(d//a)
print(d%a)

30
0
600
3.0
3
0

In [5]:
#assingment operators --- +=,-=,*=,/=,//=,%=
a=100
a+=50
print(a)

150

In [6]:
b=200
b-=400
print(b)

-200

In [7]:
c=50
c*=100
print(c)

5000

In [8]:
# comparision operators-- >,<,>=,<=,==,!=
a=10
b=20
c=20
d=30
print(a>b)
print(b==c)
print(b<c)
print(b!=c)
print(b>=a)
print(b<=a)

False
True
False
False
True
False

In [ ]:
# logicacl operators - and,or,not
"""
and- both conditions are true then results is true,rest in cases it fails
or- either one of the conditions is true ,rest in caases it fails
and truth table:
T T=T
T F=F
F T=F
F F=T
or truth table:
T T=T
T F=F
F T=F
F F=F
"""

In [10]:
a=10
b=20
c=20
d=30
print(a>b and b==c)
print(a<b and c==b)
print(a>b or b==c)
print(not a>b and b==c)

False
True
True
True

In [13]:
# membership operators - in,not in
#validating if the members are present in tht sequence or group
names=['vikas','shivaji','sidh','chandra']
print('vikas' in names)
print('shivaji' not in names)
print('Vikas' not in names)
print('vikram' in names)

True
False
True
False

In [14]:
#identity opertors - is,is not
a=10000
b=10000
print(a is b)
print(id(a))
print(id(b))

False
2320594870320
2320594869168

In [16]:
a=10
b=10
c=10
d=10
e=20
print(a is b is c is d )
print(id(a))
print(id(b))
print(id(c))
print(id(d))

True
140726598792392
140726598792392
140726598792392
140726598792392